<!DOCTYPE html>
<html lang="sr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${subject}">Predmet email-a</title>
    <link rel="stylesheet" href="contactUsTemplate.css">
</head>

<body class="question_body">
    <main class="question_container">
        <h1>Šalje:
            <span th:text="${firstName}">Ime</span>
            <span th:text="${lastName}">Prezime</span>
        </h1>


        <section class="data_container">
            <h2>Podaci:</h2>
            <p>
                Ime:
                <span th:text="${firstName}">Ime</span>
            </p>
            <p>
                Prezime:
                <span th:text="${lastName}">Prezime</span>
            </p>
            <p>
                Email:
                <span th:text="${email}">Email</span>
            </p>
        </section>

        <section class="message_container">
            <h3>Pitanje:</h3>
            <p th:utext="${message}">Pitanje</p>
        </section>

        <p id="currentDate" class="current_date" th:text="${currentDate}">Datum</p>
    </main>


</body>

</html>